@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

.section {
  position: relative;

  padding-block-start: 18.75rem;
  padding-block-end: 8.25rem;

  overflow: hidden;

  @include desktop-sm {
    padding-block-start: 16.5rem;
    padding-block-end: 2.75rem;
    min-block-size: 66.625rem;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 3.375rem;

  block-size: 100%;
}
