@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

.list {
  display: inline-flex;
}

.list.row {
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;

  & .link.text {
    padding-inline: 0.25rem;
  }
}

.list.column {
  flex-direction: column;
  align-items: flex-start;
  gap: 0.25rem;

  & .link.text {
    padding-block: 0.5rem;
  }
}

.link {
  @include flex-center;

  transition: color $duration_sm $easing_standard;

  @include hover {
    color: $color_accent;
  }
}

.link.primary {
  color: rgba($color_primary, 1);
}

.link.secondary {
  color: rgba($color_primary, 0.2);
}

.link.text {
}

.link.icon {
}

.iconWrapper {
  block-size: 2rem;
  aspect-ratio: 1;
}
