@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

.section {
  background-image: url('../../assets/images/home/footer_bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
}
