$color_primary: rgb(255, 255, 255);
$color_primary-dark: rgb(38, 38, 38);
$color_secondary: rgb(130, 130, 130);
$color_secondary-light: rgb(192, 192, 192);
$color_accent: rgb(190, 137, 0);
$color_background: rgb(26, 26, 26);

$font_primary: var(--font-primary, 'CenturyGothic', sans-serif);
$font_secondary: var(--font-secondary, 'GothamPro', sans-serif);
$font_accent: var(--font-accent, 'CormorantUnicase', serif);
$font_accent-2: var(--font-accent-2, 'AGaramondPro', serif);

$padding-sm: 1rem;
$padding-md: 2rem;
$padding-lg: 3.5rem;

$duration_sm: 300ms;
$duration_md: 500ms;
$duration_lg: 700ms;

$easing_standard: ease-in-out;

$z-index_modal: 900;
$z-index_backdrop: 800;
$z-index_header: 700;
$z-index_bg_negative: -100;

$screen_tablet: 768px;
$screen_desktop-sm: 1280px;
$screen_desktop-md: 1440px;
$screen_desktop-xl: 1920px;
