$color_primary: #ffffff;
$color_primary-dark: #262626;
$color_secondary: #828282;
$color_secondary-light: #c0c0c0;
$color_accent: #be8900;
$color_background: #1a1a1a;

$font_primary: 'CenturyGothic', sans-serif;
$font_secondary: 'GothamPro', sans-serif;
$font_accent: 'CormorantUnicase', serif;
$font_accent-2: 'AGaramondPro', serif;

$padding-sm: 1rem;
$padding-md: 2rem;
$padding-lg: 3rem;

$duration_sm: 300ms;
$duration_md: 500ms;
$duration_lg: 700ms;

$easing_standard: ease-in-out;

$z-index_modal: 900;
$z-index_backdrop: 800;
$z-index_header: 700;

$screen_tablet: 768px;
$screen_desktop-sm: 1280px;
$screen_desktop-md: 1440px;
$screen_desktop-xl: 1920px;
