@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

.list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;

  @include desktop-sm {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
