@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

.nav {
  inline-size: 100%;

  @include desktop-sm {
    max-inline-size: 46rem;
  }

  @include desktop-md {
    max-inline-size: 56rem;
  }
}

.list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;

  @include desktop-sm {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.item {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 0.5rem;

  position: relative;
}

.link {
  text-transform: uppercase;
}
