@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

.section {
  position: relative;

  padding-block-end: 15rem;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5.5rem;
}

.title {
  color: $color_primary;
  text-align: center;
  font-family: $font_accent;
  font-size: 1.875rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.01em;
  text-transform: uppercase;

  @include desktop-sm {
    position: absolute;
    top: 3.125rem;
    left: 3rem;
    z-index: 2;

    font-family: $font_secondary;
    font-size: 2.375rem;
    font-weight: 400;
    letter-spacing: 0.06em;
  }
}

.title::after {
  @include desktop-sm {
    content: '';

    position: absolute;
    top: 50%;
    right: -1.625rem;

    translate: 100% -50%;

    inline-size: 12.5rem;
    block-size: 0.125rem;

    border-radius: 12.5rem;
    background-color: $color_accent;
  }
}

.controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;

  padding-inline: 1rem;
  inline-size: 100%;
  max-inline-size: 37.5rem;

  @include desktop-sm {
    align-self: flex-end;

    padding-inline: 3.5rem;
    max-inline-size: 56rem;
  }

  @include desktop-lg {
    max-inline-size: 86rem;
  }
}
