@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

.submenu {
  padding-inline-start: 2.25rem;

  @include desktop-sm {
    position: absolute;
    bottom: 0;
    left: 0;

    translate: 0 100%;

    padding-block: 0.5rem;
    padding-inline-start: 0;
    inline-size: max-content;
  }
}

.list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.125rem;
}

.link {
  font-size: 1.25rem;

  @include desktop-sm {
    font-size: 1.125rem;
  }
}
